### Import Packages and Download Dataset

In [13]:
import kagglehub
import os
import cv2
import pandas as pd

In [14]:
PATH = kagglehub.dataset_download("asefjamilajwad/car-crash-dataset-ccd")
print(PATH)

C:\Users\jessi\.cache\kagglehub\datasets\asefjamilajwad\car-crash-dataset-ccd\versions\2

### Load Data and Preprocessing

In [15]:
DATA_PATH = os.path.join(PATH, "CrashBest")
TABLE_PATH = os.path.join(PATH, "Crash_Table.csv")

In [16]:
df = pd.read_csv(TABLE_PATH)
df.head()

,vidname,frame_1,frame_2,frame_3,frame_4,frame_5,frame_6,frame_7,frame_8,frame_9,...,frame_46,frame_47,frame_48,frame_49,frame_50,startframe,youtubeID,timing,weather,egoinvolve
0,1,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,285,0,Day,Normal,Yes
1,2,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,646,0,Day,Normal,Yes
2,3,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,972,0,Day,Normal,Yes
3,4,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1257,0,Day,Normal,Yes
4,5,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,462,10,Day,Snowy,Yes

In [26]:
def get_video_frame_paths(video_name):
  frame_paths = []
  for i in range (1, 51):
    frame_path = f"C_{video_name:06}_{i:02}.jpg"
    frame_path = os.path.join(DATA_PATH, frame_path)
    frame_paths.append(frame_path)
  return frame_paths

In [28]:
image_paths =[]
labels = []

for idx, row in df.iterrows():
  frame_paths = get_video_frame_paths(row["vidname"])
  if all(os.path.exists(frame_path) for frame_path in frame_paths):
    image_paths.extend(frame_paths)
    labels.extend(row[f"frame_{i}"] for i in range(1, 51))

print("Length of image_paths: ", len(image_paths))
print("Length of labels: ", len(labels))

Length of image_paths:  75000
Length of labels:  75000